<br>
<h1 style="text-align: center;">About Us</h1>
<hr>
<br>
<ul>
    <li>
        <h6 style="padding-left: 20px;">Building a website is, in many ways, an exercise of willpower. This Website is create in Angular.</h6>
    </li>
    <li>
        <p style="padding-left: 20px;">We have devloped a Websites in diffrent technology.But this website is devloped in Angular. This Websites data is called from API.</p>
    </li>
    <li>
        <p style="padding-left: 20px;">My name is Abhay. Basically i have a ASP.Net devloper. But i have a create one project for practice in Angular of API Calling.We have a provide a diffrent Website in diffrent technologies. We have provide in HTML,CSS,JS website. We provided to Bootstrap, ASP.Net technology Websites.</p>
    </li>
    <li>
        <p style="padding-left: 20px;">Contact Me : <a class="mail" href="mailto:abhaybabariya1@gmail.com">abhaybabariya1@gmail.com</a> </p>
    </li>
</ul>